fastapi==0.115.8  
uvicorn==0.28.0  # Or your specific Uvicorn version
gunicorn==21.2.0  # Or your specific Gunicorn version
anyio==4.8.0  # Or your specific AnyIO version
h11==0.14.0  # Or your specific h11 version
google-generativeai==0.8.4 # Or latest version
PyJWT==2.10.1  # Or your specific PyJWT version
bcrypt==4.2.1  # Or your specific bcrypt version
SQLAlchemy==2.0.37  # Or your specific SQLAlchemy version
passlib==1.7.4  # Or your specific passlib version
python-dotenv==1.0.1 # Or your specific python-dotenv version
